Repository App-vNext/Polly, pull requests merged in 2024-04, with the labels that each got.

#2040 Bump actionlint to 1.6.27
  .github/workflows/actions-lint.yml
Labels: dependencies, github_actions

#2054 Split docs build and publish
  .github/workflows/gh-pages.yml
Labels: enhancement, documentation, github_actions

#2059 Add sponsorship to README
  .github/FUNDING.yml
  README.md
  logos/aws.png
Labels: documentation

#2063 Fix ToC
  docs/toc.yml
Labels: documentation, bug fix

#2060 [Docs] Unify strategy descriptions and add Telemetry sections
  .github/wordlist.txt
  docs/strategies/circuit-breaker.md
  docs/strategies/fallback.md
  docs/strategies/hedging.md
  docs/strategies/rate-limiter.md
  docs/strategies/retry.md
  docs/strategies/timeout.md
  src/Polly.Core/CircuitBreaker/Controller/CircuitStateController.cs
Labels: documentation

#2062 Release automation
  .github/workflows/after-release.yml
  .github/workflows/release.yml
  CHANGELOG.md
  eng/bump-version.ps1
  eng/update-baselines.ps1
  eng/update-changelog.ps1
Labels: CI/build, github_actions

#2071 [Docs] Add telemetry section to chaos strategies documentation pages
  docs/advanced/telemetry.md
  docs/chaos/behavior.md
  docs/chaos/fault.md
  docs/chaos/index.md
  docs/chaos/latency.md
  docs/chaos/outcome.md
  docs/strategies/circuit-breaker.md
  docs/strategies/fallback.md
  docs/strategies/hedging.md
  docs/strategies/rate-limiter.md
  docs/strategies/retry.md
  docs/strategies/timeout.md
Labels: documentation

#2079 Fix CI for macOS 14
  .github/workflows/build.yml
Labels: CI/build

#2084 Add package tools to manifest
  .config/dotnet-tools.json
  .github/workflows/build.yml
  eng/Common.targets
Labels: enhancement, dependencies, github_actions

#2085 Fix IDE0011 warning
  src/Polly/AsyncPolicy.ContextAndKeys.cs
  src/Polly/AsyncPolicy.ExecuteOverloads.cs
  src/Polly/AsyncPolicy.TResult.ExecuteOverloads.cs
  src/Polly/Bulkhead/AsyncBulkheadSyntax.cs
  src/Polly/Bulkhead/AsyncBulkheadTResultSyntax.cs
  src/Polly/Bulkhead/BulkheadSyntax.cs
  src/Polly/Bulkhead/BulkheadTResultSyntax.cs
  src/Polly/Caching/AsyncCacheSyntax.cs
  src/Polly/Caching/AsyncCacheTResultSyntax.cs
  src/Polly/Caching/CacheSyntax.cs
  src/Polly/Caching/CacheTResultSyntax.cs
  src/Polly/Caching/ContextualTtl.cs
  src/Polly/Caching/RelativeTtl.cs
  src/Polly/Caching/ResultTtl.cs
  src/Polly/Caching/SlidingTtl.cs
  src/Polly/CircuitBreaker/AdvancedCircuitBreakerSyntax.cs
  src/Polly/CircuitBreaker/AdvancedCircuitBreakerTResultSyntax.cs
  src/Polly/CircuitBreaker/AsyncAdvancedCircuitBreakerSyntax.cs
  src/Polly/CircuitBreaker/AsyncAdvancedCircuitBreakerTResultSyntax.cs
  src/Polly/CircuitBreaker/AsyncCircuitBreakerSyntax.cs
  src/Polly/CircuitBreaker/AsyncCircuitBreakerTResultSyntax.cs
  src/Polly/CircuitBreaker/CircuitBreakerSyntax.cs
  src/Polly/CircuitBreaker/CircuitBreakerTResultSyntax.cs
  src/Polly/CircuitBreaker/RollingHealthMetrics.cs
  src/Polly/Context.Dictionary.cs
  src/Polly/Fallback/AsyncFallbackSyntax.cs
  src/Polly/Fallback/FallbackSyntax.cs
  src/Polly/Policy.ContextAndKeys.cs
  src/Polly/Policy.ExecuteOverloads.cs
  src/Polly/Policy.TResult.ExecuteOverloads.cs
  src/Polly/PolicyBuilder.OrSyntax.cs
  src/Polly/Polly.csproj
  src/Polly/RateLimit/AsyncRateLimitSyntax.cs
  src/Polly/RateLimit/AsyncRateLimitTResultSyntax.cs
  src/Polly/RateLimit/LockFreeTokenBucketRateLimiter.cs
  src/Polly/RateLimit/RateLimitRejectedException.cs
  src/Polly/RateLimit/RateLimitSyntax.cs
  src/Polly/RateLimit/RateLimitTResultSyntax.cs
  src/Polly/ResultPredicates.cs
  src/Polly/Retry/AsyncRetrySyntax.cs
  src/Polly/Retry/AsyncRetryTResultSyntax.cs
  src/Polly/Retry/RetrySyntax.cs
  src/Polly/Retry/RetryTResultSyntax.cs
  src/Polly/Timeout/AsyncTimeoutSyntax.cs
  src/Polly/Timeout/AsyncTimeoutTResultSyntax.cs
  src/Polly/Timeout/TimeoutSyntax.cs
  src/Polly/Timeout/TimeoutTResultSyntax.cs
  src/Polly/Timeout/TimeoutValidator.cs
  src/Polly/Utilities/SystemClock.cs
  src/Polly/Wrap/AsyncPolicyWrap.ContextAndKeys.cs
  src/Polly/Wrap/AsyncPolicyWrapSyntax.cs
  src/Polly/Wrap/IPolicyWrapExtension.cs
  src/Polly/Wrap/PolicyWrap.ContextAndKeys.cs
  src/Polly/Wrap/PolicyWrapSyntax.cs
Labels: CI/build

#2086 Fix S3253/S6605/SA1625/S103 warnings
  eng/Analyzers.targets
  eng/analyzers/SonarLint.xml
  src/Polly/Bulkhead/AsyncBulkheadSyntax.cs
  src/Polly/Bulkhead/BulkheadSyntax.cs
  src/Polly/Fallback/AsyncFallbackPolicy.cs
  src/Polly/Fallback/FallbackPolicy.cs
  src/Polly/Polly.csproj
  src/Polly/ResultPredicates.cs
  src/Polly/Timeout/AsyncTimeoutSyntax.cs
  src/Polly/Timeout/TimeoutEngine.cs
Labels: CI/build

#2088 Add CI timeouts
  .github/workflows/build.yml
  build.cake
Labels: CI/build
