Repository App-vNext/Polly, pull requests merged in 2025-02, with the labels that each got.

#2456 Fix for retry cancellation
  src/Polly.Core/Retry/RetryResilienceStrategy.cs
  test/Polly.Core.Tests/Retry/RetryResilienceStrategyTests.cs
Labels: bug fix

#2476 Bump Stryker
  build.cake
Labels: dependencies, .NET

#2482 Fix chaos example issue and enrich notes & diagram
  docs/chaos/index.md
  src/Snippets/Docs/Chaos.Index.cs
Labels: documentation

#2497 Fix broken CI
  .config/dotnet-tools.json
  .github/workflows/build.yml
Labels: CI/build, bug fix

#2501 Remove .NET 6 SDK
  .github/workflows/build.yml
  .github/workflows/mutation-tests.yml
Labels: enhancement, CI/build, dependencies

#2504 Lint PowerShell scripts
  .github/workflows/actions-lint.yml
  .github/workflows/after-release.yml
  .github/workflows/build.yml
  .github/workflows/dependabot-approve.yml
  .github/workflows/dependency-review.yml
  .github/workflows/gh-pages.yml
  .github/workflows/lint.yml
  .github/workflows/nuget-packages-published.yml
  .github/workflows/on-push-do-docs.yml
  .github/workflows/stale.yml
  .github/workflows/update-dotnet-sdk.yml
  .github/workflows/updater-approve.yml
  bench/benchmarks.ps1
  build.ps1
  eng/bump-version.ps1
  eng/update-changelog.ps1
Labels: enhancement, CI/build, dependencies, github_actions

#2505 Improve Polly coverage
  src/Polly/Bulkhead/AsyncBulkheadPolicy.cs
  src/Polly/Bulkhead/BulkheadPolicy.cs
  src/Polly/Fallback/AsyncFallbackPolicy.cs
  src/Polly/Fallback/FallbackPolicy.cs
  src/Polly/Polly.csproj
  src/Polly/RateLimit/AsyncRateLimitPolicy.cs
  src/Polly/RateLimit/LockFreeTokenBucketRateLimiter.cs
  src/Polly/RateLimit/RateLimitPolicy.cs
  src/Polly/Registry/PolicyRegistry.cs
  src/Polly/Retry/AsyncRetryPolicy.cs
  src/Polly/Retry/RetryPolicy.cs
  src/Polly/Timeout/AsyncTimeoutPolicy.cs
  src/Polly/Timeout/AsyncTimeoutSyntax.cs
  src/Polly/Timeout/AsyncTimeoutTResultSyntax.cs
  src/Polly/Timeout/TimeoutPolicy.cs
  src/Polly/Timeout/TimeoutSyntax.cs
  src/Polly/Timeout/TimeoutTResultSyntax.cs
  src/Polly/Utilities/SystemClock.cs
  test/Polly.Specs/Bulkhead/BulkheadSpecs.cs
  test/Polly.Specs/Caching/AbsoluteTtlSpecs.cs
  test/Polly.Specs/Caching/CacheTResultAsyncSpecs.cs
  test/Polly.Specs/Caching/CacheTResultSpecs.cs
  test/Polly.Specs/Caching/ContextualTtlSpecs.cs
  test/Polly.Specs/PolicySpecs.cs
  test/Polly.Specs/Polly.Specs.csproj
  test/Polly.Specs/RateLimit/AsyncRateLimitPolicySpecs.cs
  test/Polly.Specs/RateLimit/AsyncRateLimitPolicyTResultSpecs.cs
  test/Polly.Specs/RateLimit/RateLimitPolicySpecs.cs
  test/Polly.Specs/RateLimit/RateLimitPolicyTResultSpecs.cs
  test/Polly.Specs/RateLimit/RateLimitRejectedExceptionTests.cs
  test/Polly.Specs/Registry/ConcurrentPolicyRegistrySpecs.cs
  test/Polly.Specs/Registry/PolicyRegistrySpecs.cs
  test/Polly.Specs/ResiliencePipelineConversionExtensionsTests.cs
  test/Polly.Specs/Retry/RetryForeverAsyncSpecs.cs
  test/Polly.Specs/Retry/RetryTResultAsyncSpecs.cs
  test/Polly.Specs/Retry/WaitAndRetryForeverSpecs.cs
  test/Polly.Specs/Retry/WaitAndRetrySpecs.cs
  test/Polly.Specs/Timeout/TimeoutAsyncSpecs.cs
  test/Polly.Specs/Timeout/TimeoutSpecs.cs
  test/Polly.Specs/Timeout/TimeoutTResultAsyncSpecs.cs
  test/Polly.Specs/Timeout/TimeoutTResultSpecs.cs
Labels: enhancement, unit-testing, .NET

#2506 Improve mutation score
  src/Polly/Bulkhead/BulkheadSemaphoreFactory.cs
  src/Polly/Caching/AsyncCacheTResultSyntax.cs
  src/Polly/Caching/AsyncGenericCacheProvider.cs
  src/Polly/Caching/GenericCacheProvider.cs
  src/Polly/Caching/NonSlidingTtl.cs
  src/Polly/CircuitBreaker/AdvancedCircuitController.cs
  src/Polly/CircuitBreaker/CircuitStateController.cs
  src/Polly/CircuitBreaker/RollingHealthMetrics.cs
  src/Polly/Policy.HandleSyntax.cs
  src/Polly/Policy.SyncNonGenericImplementation.cs
  src/Polly/PolicyBuilder.OrSyntax.cs
  src/Polly/Polly.csproj
  src/Polly/RateLimit/AsyncRateLimitSyntax.cs
  src/Polly/RateLimit/AsyncRateLimitTResultSyntax.cs
  src/Polly/RateLimit/LockFreeTokenBucketRateLimiter.cs
  src/Polly/RateLimit/RateLimitSyntax.cs
  src/Polly/RateLimit/RateLimitTResultSyntax.cs
  src/Polly/RateLimit/RateLimiterFactory.cs
  src/Polly/Registry/PolicyRegistry.cs
  src/Polly/Retry/AsyncRetrySyntax.cs
  src/Polly/Retry/AsyncRetryTResultSyntax.cs
  src/Polly/Retry/RetryTResultSyntax.cs
  src/Polly/Timeout/AsyncTimeoutEngine.cs
  src/Polly/Timeout/AsyncTimeoutSyntax.cs
  src/Polly/Timeout/TimeoutSyntax.cs
  test/Polly.Specs/Caching/AbsoluteTtlSpecs.cs
  test/Polly.Specs/Caching/AsyncSerializingCacheProviderSpecs.cs
  test/Polly.Specs/Caching/CacheAsyncSpecs.cs
  test/Polly.Specs/Caching/CacheTResultAsyncSpecs.cs
  test/Polly.Specs/CircuitBreaker/AdvancedCircuitBreakerAsyncSpecs.cs
  test/Polly.Specs/CircuitBreaker/AdvancedCircuitBreakerSpecs.cs
  test/Polly.Specs/CircuitBreaker/RollingHealthMetricsTests.cs
  test/Polly.Specs/Fallback/FallbackAsyncSpecs.cs
  test/Polly.Specs/Fallback/FallbackSpecs.cs
  test/Polly.Specs/Fallback/FallbackTResultAsyncSpecs.cs
  test/Polly.Specs/Fallback/FallbackTResultSpecs.cs
  test/Polly.Specs/Polly.Specs.csproj
  test/Polly.Specs/RateLimit/AsyncRateLimitPolicySpecs.cs
  test/Polly.Specs/RateLimit/AsyncRateLimitPolicyTResultSpecs.cs
  test/Polly.Specs/RateLimit/RateLimitPolicySpecs.cs
  test/Polly.Specs/RateLimit/RateLimitPolicyTResultSpecs.cs
  test/Polly.Specs/RateLimit/RateLimitRejectedExceptionTests.cs
  test/Polly.Specs/Registry/PolicyRegistrySpecs.cs
  test/Polly.Specs/ResiliencePipelineConversionExtensionsTests.cs
  test/Polly.Specs/Retry/RetryForeverAsyncSpecs.cs
  test/Polly.Specs/Retry/RetryForeverSpecs.cs
  test/Polly.Specs/Retry/RetryTResultMixedResultExceptionSpecs.cs
  test/Polly.Specs/Retry/WaitAndRetryAsyncSpecs.cs
  test/Polly.Specs/Retry/WaitAndRetryForeverAsyncSpecs.cs
  test/Polly.Specs/Retry/WaitAndRetryForeverSpecs.cs
  test/Polly.Specs/Retry/WaitAndRetryForeverTResultSpecs.cs
  test/Polly.Specs/Retry/WaitAndRetrySpecs.cs
  test/Polly.Specs/Retry/WaitAndRetryTResultAsyncSpecs.cs
  test/Polly.Specs/Retry/WaitAndRetryTResultSpecs.cs
  test/Polly.Specs/Timeout/TimeoutAsyncSpecs.cs
  test/Polly.Specs/Timeout/TimeoutSpecs.cs
  test/Polly.Specs/Timeout/TimeoutTResultAsyncSpecs.cs
Labels: enhancement, CI/build, .NET

#2498 Run CodeQL for GitHub Actions
  .github/workflows/code-ql.yml
Labels: enhancement, CI/build, github_actions

#2507 Workflow refactoring
  .github/workflows/dependabot-approve.yml
  .github/workflows/on-push-do-docs.yml
  .github/workflows/updater-approve.yml
Labels: enhancement, CI/build, github_actions

#2508 Add missing mutations
  src/Polly/Bulkhead/BulkheadSyntax.cs
  src/Polly/Bulkhead/BulkheadTResultSyntax.cs
  src/Polly/Fallback/AsyncFallbackSyntax.cs
  src/Polly/Fallback/FallbackSyntax.cs
  src/Polly/Polly.csproj
  src/Polly/Retry/AsyncRetryTResultSyntax.cs
  src/Polly/Retry/RetrySyntax.cs
  src/Polly/Timeout/TimeoutTResultSyntax.cs
  test/Polly.Specs/Fallback/FallbackAsyncSpecs.cs
  test/Polly.Specs/Fallback/FallbackSpecs.cs
  test/Polly.Specs/Fallback/FallbackTResultAsyncSpecs.cs
  test/Polly.Specs/Fallback/FallbackTResultSpecs.cs
  test/Polly.Specs/Polly.Specs.csproj
  test/Polly.Specs/Retry/RetryForeverAsyncSpecs.cs
  test/Polly.Specs/Retry/RetryForeverSpecs.cs
  test/Polly.Specs/Retry/RetrySpecs.cs
  test/Polly.Specs/Retry/RetryTResultAsyncSpecs.cs
  test/Polly.Specs/Retry/WaitAndRetryAsyncSpecs.cs
  test/Polly.Specs/Retry/WaitAndRetryForeverSpecs.cs
  test/Polly.Specs/Retry/WaitAndRetryForeverTResultAsyncSpecs.cs
  test/Polly.Specs/Retry/WaitAndRetrySpecs.cs
  test/Polly.Specs/Retry/WaitAndRetryTResultAsyncSpecs.cs
  test/Polly.Specs/Timeout/TimeoutTResultSpecs.cs
Labels: enhancement, CI/build, .NET

#2520 Improve mutation test perf
  .github/workflows/mutation-tests.yml
  eng/stryker-config.json
Labels: enhancement, CI/build

#2526 Improve coverage
  src/Polly.Core/ResiliencePipelineBuilderExtensions.cs
  src/Polly.Core/ResiliencePipelineT.Async.cs
  src/Polly.Core/ResiliencePipelineT.Sync.cs
  src/Polly.Core/Telemetry/TelemetryUtil.cs
  src/Polly.Core/Timeout/TimeoutResiliencePipelineBuilderExtensions.cs
  src/Polly.Extensions/DependencyInjection/AddResiliencePipelineContext.cs
  src/Polly.Extensions/Telemetry/TelemetryListenerImpl.cs
  src/Polly.RateLimiting/RateLimiterResiliencePipelineBuilderExtensions.cs
  src/Polly/Caching/CacheSyntax.cs
  src/Polly/CircuitBreaker/AdvancedCircuitBreakerTResultSyntax.cs
  src/Polly/CircuitBreaker/AsyncAdvancedCircuitBreakerTResultSyntax.cs
  src/Polly/CircuitBreaker/AsyncCircuitBreakerSyntax.cs
  src/Polly/CircuitBreaker/AsyncCircuitBreakerTResultSyntax.cs
  src/Polly/CircuitBreaker/CircuitBreakerSyntax.cs
  src/Polly/CircuitBreaker/CircuitBreakerTResultSyntax.cs
  src/Polly/Fallback/AsyncFallbackSyntax.cs
  src/Polly/Fallback/FallbackSyntax.cs
  src/Polly/Retry/AsyncRetrySyntax.cs
  src/Polly/Timeout/AsyncTimeoutSyntax.cs
  src/Polly/Timeout/AsyncTimeoutTResultSyntax.cs
  test/Polly.Core.Tests/OutcomeTests.cs
  test/Polly.Core.Tests/PredicateBuilderTests.cs
  test/Polly.Core.Tests/ResiliencePipelineTTests.Sync.cs
  test/Polly.Core.Tests/Telemetry/ResilienceStrategyTelemetryTests.cs
  test/Polly.Core.Tests/Utils/LegacySupportTests.cs
  test/Polly.Extensions.Tests/DependencyInjection/PollyServiceCollectionExtensionTests.cs
  test/Polly.Specs/CircuitBreaker/AdvancedCircuitBreakerAsyncSpecs.cs
  test/Polly.Specs/CircuitBreaker/AdvancedCircuitBreakerSpecs.cs
  test/Polly.Specs/CircuitBreaker/CircuitBreakerAsyncSpecs.cs
  test/Polly.Specs/CircuitBreaker/CircuitBreakerTResultAsyncSpecs.cs
  test/Polly.Specs/CircuitBreaker/CircuitBreakerTResultMixedResultExceptionSpecs.cs
  test/Polly.Specs/Fallback/FallbackTResultSpecs.cs
  test/Polly.Specs/NoOp/NoOpSpecs.cs
  test/Polly.Specs/Polly.Specs.csproj
  test/Polly.Specs/Retry/RetryAsyncSpecs.cs
  test/Polly.Specs/Retry/RetryForeverAsyncSpecs.cs
  test/Polly.Specs/Retry/RetryForeverSpecs.cs
  test/Polly.Specs/Retry/WaitAndRetryAsyncSpecs.cs
  test/Polly.Specs/Retry/WaitAndRetryForeverAsyncSpecs.cs
  test/Polly.Specs/Retry/WaitAndRetryForeverTResultSpecs.cs
  test/Polly.Specs/Retry/WaitAndRetryTResultSpecs.cs
  test/Polly.Specs/Timeout/TimeoutAsyncSpecs.cs
  test/Polly.Specs/Timeout/TimeoutTResultAsyncSpecs.cs
Labels: CI/build, .NET

#2532 Remove System.Text.Json reference
  Directory.Packages.props
  samples/Chaos/Chaos.csproj
  samples/DependencyInjection/DependencyInjection.csproj
Labels: CI/build, dependencies, .NET
