Repository App-vNext/Polly, pull requests merged in 2025-06, with the labels that each got.

#2631 Fix package signing
  .github/workflows/build.yml
Labels: CI/build

#2638 Update maxQueuingCompounded in BulkheadSemaphoreFactory
  src/Polly/Bulkhead/BulkheadSemaphoreFactory.cs
  test/Polly.Specs/Bulkhead/BulkheadAsyncSpecs.cs
  test/Polly.Specs/Bulkhead/BulkheadSpecs.cs
  test/Polly.Specs/Bulkhead/BulkheadTResultSpecs.cs
Labels: bug fix

#2639 Suppress CA2025
  test/Polly.Extensions.Tests/Issues/IssuesTests.PartitionedRateLimiter_1365.cs
  test/Polly.Specs/Bulkhead/BulkheadSpecsBase.cs
  test/Polly.Specs/Helpers/PolicyExtensionsAsync.cs
Labels: CI/build

#2641 Specify allowed licenses
  .github/workflows/dependency-review.yml
Labels: CI/build, github_actions

#2646 Refactor SBOM generation
  .github/workflows/build.yml
Labels: CI/build

#2647 Attest artifacts
  .github/workflows/build.yml
Labels: enhancement, CI/build

#2649 Fix permissions
  .github/workflows/build.yml
Labels: CI/build, bug fix
